name: Pull request workflow

on:
  pull_request:
    branches: [ main ]

jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - name: Check out code
        uses: actions/checkout@v3.1.0
        with:
          fetch-depth: '0'

      - name: Check out java
        uses: actions/setup-java@v2
        with:
          distribution: 'adopt'
          java-version: 11

      - name: Run Checks
        run: ./gradlew check

      - name: Upload reports
        uses: actions/upload-artifact@v2
        if: failure()
        with:
          name: Reports
          path: '**/build/reports/*'
          retention-days: 2